@model MusicSchool.Areas.Admin.Models.Courses
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/Teachers.css" />
</head>
<body>
    <div class="questions">
        <h4>Your feedback</h4>


        <a asp-action="Create">Go to save a feedback</a>

    </div>









</body>
</html>

