@model MusicSchool.Areas.Admin.Models.Teachers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/Teachers.css" />
</head>
<body>


    <h1>Details</h1>

   
        @Model.ShortDescription;
       <div class="images">

       
        <img src=" @Model.ImageUrl"  />
       </div>
    <a asp-action="Index">Go to index</a>
    
    
</body>



</html>

