 
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
   
  
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
</head>


<body > 
    <div class="text-center">
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">

                </div>
                <div class="col-sm-8 text-left">
                    <h1>Cursuri de chitara - Lectii de chitara</h1>
                    <p>
                        20 ANI DE EXPERIENTA
                        MusicSchool - cursuri de muzică
                        Sa alegi scoala de muzica potrivita pentru copilul tau nu e mereu o sarcina simpla.
                        Insa daca iei in calcul cateva criterii de baza, lucrurile se simplifica iar rezultatele nu vor intarzia sa apara.

                        BRAVISSIMO - NUMAI NOTE BUNE!
                    </p>
                    
                    <hr>
                    <h3>Test</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div class="col-sm-2 sidenav">

                </div>
            </div>
        </div>

        <footer class="container-fluid text-center">
            <p>Footer Text</p>
        </footer>

      

    </div>
</body>
</html>