body {


}
table {
    border-collapse: collapse;
    width: 40%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: darkslategrey;
    color: aquamarine;
}

.table-striped {
    background-color: tomato;
    border-bottom: solid 2px;
    color: aliceblue;
}