@model MusicSchool.Areas.Admin.Models.Courses
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "IndexViolin";
}

<h1>IndexViolin</h1>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/Teachers.css" />
</head>
<body>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="col-sm-8 text-left">
                <h1>Welcome</h1>
                <p>
                    Scoala noastra ofera cursuri de vioara individuale, ce se adreseaza in egala masura celor care sunt incepatori
                    si celor avansati, fiind adaptate atat pentru copii, cat si pentru adulti. Cursurile se desfasoara in Bucuresti 
                    sub indrumarea profesorilor de vioara ai Scolii PianoForte, fiecare profesor fiind selectat dupa doua criterii: 
                    profesionalismul si pasiunea in predarea muzicii prin intermediul viorii, celor mici si celor mari.
                    Vioara este un instrument muzical deloc usor de stapanit din punct de vedere al interpretarii, lucru care 
                    transforma studiul muzicii la acest instrument intr-o continua provocare. Un exercitiu continuu si o buna 
                    instruire sunt necesare pentru a deveni un bun violonist.

                    Studiul viorii incepe cu invatarea partilor componente si a modului in care trebuie sa tinem instrumentul 
                    pentru a putea canta la acesta. Este rezonabil sa spunem ca un elev sarguincios dedicat studiului la vioara, 
                    poate ajunge sa scoata primele sunete frumoase in cel putin un an de zile.

                    Acest lucru este absolut normal, obisnuiti-va sa auziti acasa "scartaieli", fac parte din procesul invatarii.
                    in schimb, cei care sunt manati de pasiune si au suficienta rabdare vor ajunge, urmand lectiile de vioara, 
                    sa cante adecvat si sa se bucure de frumusetea sunetului acestui instrument.

                    A canta la vioara e precum ai canta pe coarda sufletului, de aceea drumul chiar daca este anevoios,
                    isi merita efortul. Daca pianul poate fi considerat regele instrumentelor muzicale, vioara este cu siguranta regina.
                </p>
                <hr>
                <h3>Test</h3>
                <p>Lorem ipsum...</p>
            </div>
            <div class="col-sm-2 sidenav">
                <a asp-controller="Feedback" asp-action="Index">Feedback</a>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>




</body>
</html>